body {
    margin: 0;
    background-color: blueviolet;
}

/* ==== Typography ==== */
* {font-family: Roboto, sans-serif;}
h1 {font-weight: 700; font-size: 30px; text-align: center;}
p, a, li {font-size: 16; line-height: 30px;}



/* ==== Navigation ==== */
.Nav {
    background-color: #56657b;
    color: white;
}

#logo-box {
    display: inline-block;
    width: 400;
    margin-left: 15px;
    margin-bottom: -25px;
}
.text-logo { 
    margin-top: 20px;
    font-size: 55px;
}
#sub-text-logo {
    font-size: 34;
    margin-top: -60px;
    margin-left: 3px;   
}

#left-nav {
    display: inline-block;
    float: right;
    width: 200px;
    padding: 10px;
    line-height: 10px;
}

.links {
    marggin-left: 10px;
    padding: 5px;
    background-color: #404e66;
}

.links a {
    text-decoration: none;
    color: white;
    margin-left: 15px; 
}


/* ==== Image Carousel ==== */

.carousel {
    height: 200px;
    background-color: orange;
}
    
/* ==== About Us ==== */
.about {
    padding: 10px 20px;
    text-indent: 30px;
    background-color: white;
}

.about div {
    ---width: 800px;
    margin-left: 20%;
}

.about h1 {color: #404e66}

/*@media (max-width: 800px) {
    .about div {
        margin-left: 0;
        width: 700px;
    }
}*/

/* ==== Testimonials ==== */
.testimonials {
    padding: 10px 150px;
    color: white;
    text-indent: -40px;
    background-color: #25334d;}

/* ==== Our Services ==== */
.services {
    padding: 10px 40px;
    text-indent: 30px;
    background-color: white;
}

.services div {
    margin-left: 20%;
    ---width: 800px;
}

.services h1, ul {color: 25344d}

.services ul { 
    display: inline-block;
    padding: 10px; 
    font-weight: 700;
}

/*@media (max-width: 800px) {
    .services div {
        margin-left: 0;
        width: 700px;
    }
}*/

/* ==== Footer ==== */
.footer {
    padding-top: 8px;
    color: white;
    background-color: #57657b;
}

.map {
    background-color: lightgoldenrodyellow;
}

.contact-info {
    padding: 30px 90px;
    width: 200px;
    background-color: #404e66;
}

.copyright {
    padding: 1px 10px;
    background-color: #25334d;
    text-align: right;
}

