/*
TODO:
- lowercase and hypeniate all class names
- start making things responsive for mobile 
- link hover, clicks and actives 

*/



body {
    margin: 0;
    background-color: blueviolet;
}

.flex-box {
    display: flex;
    justify-content: center;
}

/* ==== Typography ==== */
* {font-family: Roboto, sans-serif;}
h1 {font-weight: 700; font-size: 30px; text-align: center;}
p, a, li {font-size: 16; line-height: 30px;}


/* ==== Navigation ==== */
.nav {
    height: 150px;
    background-color: rgba(63,77,101,.8);
    color: white;
    margin-bottom: -200px;
    z-index: 500000000;
    position: relative;
}

#logo-box {
    display: inline-block;
    width: 400;
    margin-left: 15px;
    margin-bottom: -25px;
}

.text-logo { 
    margin-top: 20px;
    font-size: 55px;
}

#sub-text-logo {
    font-size: 34;
    margin-top: -60px;
    margin-left: 3px;   
}

#left-nav {
    display: inline-block;
    float: right;
    width: 200px;
    padding: 10px;
    line-height: 10px;
}

.nav-links {
    height: 25px;
    marggin-left: 10px;
    padding: 5px;
    background-color: rgba(63,77,101,.4);
}

.nav-links a {
    text-decoration: none;
    color: white;
    margin-left: 15px; 
}
/*toggle class*/
.is-fixed {
    position: fixed;
    margin-top: -125px;
    width: 100%;
    padding: 25px 0 25px 0;
    background-color: rgba(63,77,101,.9);
    -webkit-animation: slideInDown 5s;
    animation: slideInDown .2s;

}

.unfixed {
    animation: slideInUp;
}

/*from animate.css*/
@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}





/* ==== Image Carousel ==== */
.carousel {
    position: relative;
    background-color: orange;
    margin-bottom: -60px; /* fixing weird margin */
}
.caption {
    position: absolute;
    z-index: 20;
    margin-top: -150px;
    padding: 20px;
    font-size: 40px;
    font-weight: 700;
    color: white;
    background-color: rgba(169,250,0,.7);
    
}
   

/* ==== About Us ==== */
.about {
    padding: 10px 20px;
    text-indent: 30px;
    background-color: white;
}

.about div {max-width: 800px;}

.about h1 {color: #404e66}


/* ==== Testimonials ==== */


.testimonials { 
    background-image: url(temp.jpg);
    background-size: cover;
}

.testimonials .wrapper {
    width: 100%;
    background-color: rgba(37,51,77,.7);
}

.text-carousel {
    display: flex;
    max-width: 800px;   
}

 .text-carousel p {
    padding: 10px 150px;
    color: white;
    text-indent: -40px;      
}


/* ==== Our Services ==== */
.services {
    padding: 10px 20px;
    text-indent: 30px;
    background-color: white;
}

.services div {max-width: 800px;}

.services h1, .services ul {color: 25344d}

.services ul { 
    display: inline-block;
    font-weight: 700;
}


/* ==== Anouncements ==== */
.anouncements {
    background-color: white;
}

.anouncements h1 {
    color: #24334c;
}


/* ==== Resources ==== */
.resources {
        background-color: white;
}

.resources h1 {
    color: #24334c;
}


/* ==== Footer ==== */
.footer {
    padding-top: 8px;
    color: white;
    background-color: #57657b;
}

#map {
    height: 200px;
}

.contact-info {
    padding: 30px 0px;
    height: 140px;
    width: 48%;
    background-color: rgba(64,77,102,.9);
    position: absolute;
    z-index: 7;
}

.copyright {
    padding: 1px 10px;
    background-color: #25334d;
    text-align: right;
}

#Jan {
    font-size: 30;
}

/* ==== Anouncements ==== */
.anouncements {
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}
.twitter-timeline {
}

/* ==== Resources ==== */
.resources {
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.resources-links {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

.resources-links a {
    padding-left: 30px;
}

#pdf object {
    width: 600px;
    height: 500px;
}
